
/*paleta de colores : background*/

$background : white;
$background2 : rgb(8, 8, 8);
$background3 : rgb(255, 217, 0);
$background4: #f6f6f6;
$background5: #b3b3b3;

/*color de fuente*/
$fuente: #bdc1c6;
$titulo: #e8eaed;
$fuent2: #202122;
$fuent3: rgb(255, 217, 0);

/*color de bordes*/

$borde: #f6f6f6;
$borde2: rgb(8, 8, 8);
$borde3: rgb(255, 217, 0);
