@mixin tablet {
    @media (max-width: 768px) {
       @content;
    }
}



.header{
    font-family: naruto;
   
    background-color: gray;
    transition: all 2s ease;
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    @include tablet {
            background-color: rgba(0, 0, 255, 0);
            margin: 10px 0px;
            display: flex;
            transition: all 0.6s linear 0.2s;
            position: fixed;
            right: 100%;
            

            
    
    }
    .navbar{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        margin: 20px 0;
        padding: 20px 0px;
        position: relative;
        background-image: url("https://i.gifer.com/CBgn.gif");
        background-size: cover;
        background-position: center;

        transition: all 0.6s linear 0.2s;
       
        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 5%;
            padding: 30px 0px;
            gap: 20px;
            
            right: 60%;
            width: 0%;
            border-radius: 43% 57% 47% 53% / 40% 51% 49% 60% ;
           
            // transition: right 2s ease;
            
            
            
            
            
        }
        
        .logo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
            grid-column: 1/2;
            text-decoration: none;
            color: gold;
           
        
            @include tablet {
                grid-row: 1/2;
                position: relative;
                transition: right 0.5s ease;
                right: 50%;
                
                
            }
            p{
                animation: logo 2s linear infinite alternate;
                transition: all 1s ease;
                
                
                &:hover{
                    animation: none;
                    color: gold;
                   
                }
                @keyframes logo {
                    from{
                        color: rgb(255, 255, 255);
                        text-shadow: 0px 0px 6px rgb(255, 255, 255);
                    }
                    to{
                        color: rgb(255, 255, 255);
                        text-shadow: 0px 0px 6px #d9ff00;
                    }
                    
                }
                @include tablet{
                    font-size: 1.5em;
                }
            }
            
        }
        .logoMov{
            @include tablet{
                right: 0%;
            }
    
        }
        .menu{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            grid-column: 2/4;
            
            @include tablet {
               grid-row: 2/3;
               display: flex;
               flex-direction: column;
               position: relative;
               right: 50%;
               transition: right 0.5s ease 0.2s;
               
               
            }
            a{
                text-decoration: none;
                animation: parrafo 2s linear infinite alternate;
                transition: all 1s ease;
                &:hover{
                    animation: none;
                    color: white;
                   
                }
               
                @keyframes parrafo {
                    from{
                        color: gold;
                        text-shadow: 0px 0px 6px rgb(255, 255, 255);
                    }
                    to{
                        color: rgb(254, 255, 198);
                        text-shadow: 0px 0px 6px #d9ff00;
                    }
                    
                }

            }
        }
        .menuMov{
            @include tablet{
                right: 0%;
            }

        }
    }
    .hamburguer{
        justify-self: end;
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        transform: translate(-60%, 50%);
        cursor: pointer;
        
        @include tablet {
            display: inline;
            background-color: yellow;
            padding: 10px;
            border-radius: 50%;
            transition: all 0.5s ease;
            &:hover{
                background-color: black;
            }
    
        }
        
        i{
            font-size: 25px;
            transition: all 0.5s ease;
            width: 100%;
           
            &:hover{
                transform: rotate(180deg);
                color: white;
                
                
            }
        }
        
        
        
    }
    .navbarMostrar{
        @include tablet{
            width: 100%;
            right: 0%;
            display: flex;
            
            

        }

    }
    .navbarDisplay{
        @include tablet{
            display: none;
            
            
            

        }
    }
    
}

.headerMov{

    @include tablet{
        right: 0%;
       
    }

}
